<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios DB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}" type="text/css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='imagenes/icono.jpeg')}}"> <!-- Favicon -->
</head>
<body>
    <div id="cuerpo">
        <header id="cabecera">
            <img src="{{ url_for('static', filename='imagenes/Banner.png')}}" width="300" height="200" alt="Banner" class="banner-img">
        </header>
        <nav id="menu">
            <a href="{{ url_for('proyecto')}}" class="enlace_menu">Inicio</a>
            <a href="{{ url_for('sub1')}}" class="enlace_menu">Productos</a>
            <a href="{{ url_for('sub3')}}" class="enlace_menu">Promociones</a>
        </nav>
        <h2>ESTA ES LA PAGINA DE SERVICIOS</h2>

        <div class="proyectos">

            <div class="proyecto">
                <h3>Controlador RPMs PID</h3>
                <img src="{{ url_for('static', filename='imagenes/P1.jpeg')}}" alt="Proyecto 1">
                <p>Este proyecto conciste en la creacion e implementacion de un controlador PID para las revoluciones de un motor DC</p>
            </div>


            <div class="proyecto">
                <h3>Generador eolico</h3>
                <img src="{{ url_for('static', filename='imagenes/P2.jpeg')}}" alt="Proyecto 1">
                <p>Este fabuloso proyecto conciste en la creacion de un generador eolico con  la capacidad de encender un led o cualquier otro proposito</p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P3.jpeg')}}" alt="Proyecto 1">
                <p>Ofrecemos un servicio completo de mantenimiento preventivo y correctivo para equipos de cómputo. Nuestro objetivo es asegurar el óptimo rendimiento y la prolongación de la vida útil de tus computadoras, tanto a nivel personal como empresarial.</p>
            </div>

            <div class="proyecto">
                <h3>Puente grua </h3>
                <img src="{{ url_for('static', filename='imagenes/P4.jpeg')}}" alt="Proyecto 1">
                <p>Diseñamos e implementamos un sistema de control para un puente grúa utilizando un controlador PID analógico, capaz de mantener estabilidad, precisión en el posicionamiento y respuesta suave ante variaciones de carga. Este proyecto está orientado al control industrial, integrando electrónica de potencia, sensores y retroalimentación continua para lograr un desplazamiento eficiente y seguro del sistema de carga.</p>
            </div>

            <div class="proyecto">
                <h3>Parque feliz</h3>
                <img src="{{ url_for('static', filename='imagenes/P5.jpeg')}}" alt="Proyecto 1">
                <p>Parque Feliz es un proyecto mecatrónico que simula una atracción de parque de diversiones utilizando servomotores y un motor DC. Los servos permiten movimientos en múltiples ángulos, mientras que el motor DC impulsa la rotación principal de la rueda. Esta integración recrea una estructura dinámica con realismo en los movimientos, ideal para fines educativos, demostraciones de control en sistemas mecánicos y prototipos interactivos.</p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P6.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P7.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P8.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P9.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P10.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P11.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P12.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P13.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P14.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P15.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P16.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P17.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>

            <div class="proyecto">
                <h3>Mantenimiento de PCs</h3>
                <img src="{{ url_for('static', filename='imagenes/P18.jpeg')}}" alt="Proyecto 1">
                <p></p>
            </div>
            <!-- Agrega más proyectos según sea necesario -->
        </div>
    </div>
</body>
</html>
